<!DOCTYPE html>
<html>
  <head>
    <title>TestProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li> <%= link_to "Botafogo", botafogo_path %>  </li>
      <li> <%= link_to "Contact Us", contact_us_path %> </li>
    </ul>

    <%= yield %>

    <p>This is my footer</p>
  </body>
</html>
